<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 폴더에 어떤 Mapper인지를 명시 -->
<mapper namespace="com.example.mapper.GR.GrHomeMapper"> 

    <!-- 1. 홈 게시글 조회 -->
    <select id="selectPostList" parameterType="" resultType="PostDTO">
        SELECT * FROM (
            SELECT ROW_NUMBER() OVER(ORDER BY 
            <!--조회 방법 설정 ( 최신순, 조회순, 좋아요순 )-->
            <if test = 'ordertype = 1'> p.NO DESC <if>
            
            ) AS rnum, p.*, NVL(s.dope_count, 0) AS dope, m.mbti,  FROM POST p 
            LEFT JOIN (SELECT postno, COUNT(*) AS dope_count FROM DOPE d GROUP BY d.postno) s ON p."NO" = s.postno 
            INNER JOIN MEMBER m ON p.WRITER  = m.EMAIL
        ) T1 WHERE
            <!--카테고리 설정-->
            <if test = 'cateno != null'>
                AND cateno IN(
                    <foreach item="temp" collection="list" separator=" , ">#{temp}</foreach>
                ) 
            </if>
            <!--MBTI 설정-->
            <if test= 'mbti != null'>
                AND mbti IN(
                    <foreach item="temp" collection="list" separator=" , ">#{temp}</foreach>
                )
            </if>
            <!--작성자 설정 (팔로잉)-->
            <!--검색어 설정-->
            <!--페이징-->
            rnum BETWEEN 1 AND 10 AND cateno = 3 ORDER BY rnum ASC;
    </select>

</mapper>