<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헤더</title>
    <!-- Bootstrap용 css CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!--Bootstrap 용 Icon CDN-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">



</head>

<body>

    <div class="a sticky-top" th:fragment="header" style="padding: 0;">
        <header class="header">
            <!-- 햄버거 버튼 -->
            <div class="hamburger hamburger-icon" id="hamburgerBtn">
                <i class="bi bi-list"></i>
            </div>

            <!-- 엑스자 버튼 (초기에는 표시되지 않음) -->
            <div class="hamburger close-icon hide" id="closeBtn">
                <i class="bi bi-x"></i>
            </div>


            <div class="logoandicons">

                <!-- 로고 이미지 -->
                <div class="logo_box">
                    <div class="logo">
                        <a th:href="@{/home.do(type=newest)}"><img th:src="@{/images/gr/odoplogo(2).png}" alt="로고 이미지"
                                style="margin-left: 145px;"></a>
                    </div>
                </div>

                <!-- 헤더 오른쪽 아이콘들 -->
                <div class="header-icons">
                    <!-- 로그인 되어있을 때 -->
                    <th:block th:if="${user} != null">
                        <div class="new-post">
                            <a th:href="@{/blog/{email}/write.do(email=${user.username})}"><input type="button"
                                    value="새 글 작성"></a>
                        </div>
                        <div class="notification-icon">
                            <i class="bi bi-bell"></i>
                        </div>
                        <div class="my-page-icon" id="myPageIcon">
                            <i class="bi bi-person-circle"></i>
                        </div>
                    </th:block>

                    <!-- 로그인 되어있지 않을 때 -->
                    <th:block th:if="${user} == null">
                        <div class="login-btn">
                            <a th:href="@{/login.do}"><input type="button" value="로그인"></a>
                        </div>
                    </th:block>

                </div>
            </div>
        </header>

        <!-- 햄버거 서브 메뉴 -->
        <nav class="sub-menu" id="subMenu">
            <!-- 서브 메뉴 항목들 -->
            <ul>
                <div class="col">
                    <div class="col2">
                        <i class="bi bi-caret-down-fill"></i>
                        <div class="title_detail">CATEGORY </div>
                    </div>
                    <div class="line"></div>
                    <div class="category">
                        <table>
                            <tr th:each="cate : ${categories}">
                                <td><input type="checkbox" class="category-checkbox" th:value="${cate.no}"></td>
                                <td th:text="${cate.category}"></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col">
                    <div class="col2_m">
                        <i class="bi bi-caret-down-fill"></i>
                        <div class="title_detail_m">MBTI </div>
                    </div>
                    <div class="line"></div>
                    <div class="select_mbti">
                        <table>
                            <tr>
                                <td><input type="checkbox" class="mbti-checkbox" th:value="ENFP"></td>
                                <td>ENFP</td>
                                <td><input type="checkbox" class="mbti-checkbox" th:value="ENFJ"></td>
                                <td>ENFJ</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="mbti-checkbox" th:value="ENTP"></td>
                                <td>ENTP</td>
                                <td><input type="checkbox" class="mbti-checkbox" th:value="ENTJ"></td>
                                <td>ENTJ</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="mbti-checkbox" th:value="ESFP"></td>
                                <td>ESFP</td>
                                <td><input type="checkbox" class="mbti-checkbox" th:value="ESFJ"></td>
                                <td>ESFJ</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="mbti-checkbox" th:value="ESTP"></td>
                                <td>ESTP</td>
                                <td><input type="checkbox" class="mbti-checkbox" th:value="ESTJ"></td>
                                <td>ESTJ</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="mbti-checkbox" th:value="INFP"></td>
                                <td>INFP</td>
                                <td><input type="checkbox" class="mbti-checkbox" th:value="INFJ"></td>
                                <td>INFJ</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="mbti-checkbox" th:value="INTP"></td>
                                <td>INTP</td>
                                <td><input type="checkbox" class="mbti-checkbox" th:value="INTJ"></td>
                                <td>INTJ</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="mbti-checkbox" th:value="ISFP"></td>
                                <td>ISFP</td>
                                <td><input type="checkbox" class="mbti-checkbox" th:value="ISFJ"></td>
                                <td>ISFJ</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="mbti-checkbox" th:value="ISTP"></td>
                                <td>ISTP</td>
                                <td><input type="checkbox" class="mbti-checkbox" th:value="ISTJ"></td>
                                <td>ISTJ</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="search">
                    <input type="button" value="조 회" onclick="searchBtn()">
                </div>

            </ul>
        </nav>

        <!-- 프로필 눌렀을 때 나오는 메뉴 -->
        <th:block th:if="${user != null}">
            <nav class="sub-menu" id="myPageMenu"
                th:style="${#strings.contains(user.authorities, 'ROLE_A')} ? 'height: 145px;' : ''">
                <ul>
                    <li><a th:href="@{/blog/{email}/home.do(email=${user.username})}">My Blog</a></li>
                    <hr style="border: solid 0.5px #3A5485; margin-top:15px; margin-bottom: 15px;">
                    <li th:if="${#strings.contains(user.authorities, 'ROLE_A')}"><a
                            th:href="@{/adminhome.do(type=post, menu=all)}">관리자 홈</a></li>
                    <hr th:if="${#strings.contains(user.authorities, 'ROLE_A')}"
                        style="border: solid 0.5px #3A5485; margin-top:15px; margin-bottom: 15px;">
                    <li><a th:onclick="logoutAction()">로그아웃</a></li>
                </ul>
            </nav>
        </th:block>

        <form id="search_form" th:action="@{/home.do}" method="post" style="display: none;">
            <!--동적으로 추가-->
        </form>


        <!--jQuery-->
        <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
        <!--axios library-->
        <script th:src="@{/js/axios.min.js}"></script>
        <!--Bootstrap 용 js -->
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:inline="javascript" type="text/javascript">

            const contextPath = $('#contextPathHolder').attr('data-contextPath');

            // 햄버거 버튼과 서브 메뉴 요소를 가져옴
            const hamburgerBtn = document.getElementById('hamburgerBtn');
            const closeBtn = document.getElementById('closeBtn');
            const subMenu = document.getElementById('subMenu');

            // 햄버거 버튼 클릭 시 서브 메뉴 표시/숨김 처리
            hamburgerBtn.addEventListener('click', () => {
                subMenu.classList.toggle('show');

                // 아이콘 변경
                hamburgerBtn.classList.toggle('hide');
                closeBtn.classList.toggle('hide');
            });

            closeBtn.addEventListener('click', () => {
                subMenu.classList.toggle('show');

                hamburgerBtn.classList.toggle('hide');
                closeBtn.classList.toggle('hide');
            });

            // 마이페이지 아이콘 클릭 시 마이페이지 메뉴 토글 처리
            const myPageIcon = document.getElementById('myPageIcon');
            const myPageMenu = document.getElementById('myPageMenu');

            myPageIcon.addEventListener('click', () => {
                myPageMenu.classList.toggle('show');
            });

            // 로그아웃
            function logoutAction() {
                const logoutform = document.createElement("form");
                // logoutform.action = /*[[@{/logout.do}]]*/"";
                // logoutform.method = "post";
                // logoutform.style.display="none";
                logoutform.setAttribute("action", contextPath + "/logout.do");
                logoutform.setAttribute("method", "post");
                logoutform.style.display = "none";

                const input = document.createElement("input");
                input.type = "hidden";
                input.name = "_csrf";
                input.value =  /*[[${_csrf.token}]]*/"";
                logoutform.appendChild(input);

                document.body.appendChild(logoutform);
                logoutform.submit();
            }

            // 카테고리 & MBTI 저장 객체 초기화
            let category = new Array();
            let mbti = new Array();

            function searchBtn() {

                // 선택된 카테고리

                var form = document.querySelector("#search_form");

                var cate_checked = document.querySelectorAll('.category-checkbox:checked');

                cate_checked.forEach(function (element) {

                    // category.push(element.value);

                    var input = document.createElement("input");
                    input.setAttribute("name", "category");
                    input.setAttribute("value", element.value);

                    form.append(input);

                })

                // 선택된 MBTI
                var mbti_checked = document.querySelectorAll('.mbti-checkbox:checked');

                mbti_checked.forEach(function (element) {

                    // mbti.push(element.value);

                    var input = document.createElement("input");
                    input.setAttribute("name", "mbti");
                    input.setAttribute("value", element.value);

                    form.append(input);

                })

                // console.log('선택된 카테고리 : ', category);
                // console.log('선택된 MBTI : ', mbti);

                // 시도해보니 배열 형태가 아니라서 주석 처리했습니다!
                // const category = Array.from(document.querySelectorAll('.category-checkbox:checked')).map(checkbox => checkbox.value).join(',');
                // const mbti = Array.from(document.querySelectorAll('.mbti-checkbox:checked')).map(checkbox => checkbox.value).join(',');

                form.submit();

            }

        </script>


    </div>

</body>

</html>