<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>ODOP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <!-- <link rel='stylesheet' th:href="@{/css/home.css}" /> -->

</head>

<body>
  <div th:fragment="header">
    <!-- Swiper -->
    <div class="swiper">
      <div class="swiper-wrapper">
        
        <div class="swiper-slide content">
          <div class="a">
            <div class="logo">
              <span class="logo1">ODOP</span><br>
              <span class="logo2">ONE DAY ONE POST</span>
            </div>
            <div class="login">
              <button>로그인</button>
            </div>
          </div>
          <div class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
      </div>
    </div>



    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var menuButton = document.querySelector('.menu-button');
      var openMenu = function () {
        swiper.slidePrev();
      };
      var swiper = new Swiper('.swiper', {
        slidesPerView: 'auto',
        initialSlide: 1,
        resistanceRatio: 0,
        slideToClickedSlide: true,
        on: {
          slideChangeTransitionStart: function () {
            var slider = this;
            if (slider.activeIndex === 0) {
              menuButton.classList.add('cross');
              // required because of slideToClickedSlide
              menuButton.removeEventListener('click', openMenu, true);
            } else {
              menuButton.classList.remove('cross');
            }
          },
          slideChangeTransitionEnd: function () {
            var slider = this;
            if (slider.activeIndex === 1) {
              menuButton.addEventListener('click', openMenu, true);
            }
          },
        },
      });
    </script>
  </div>
</body>

</html>