@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

footer * {
    margin: 0 auto;
    /* font-family: 'nanumsquare','MinSans-Regular', sans-serif; */
    font-family: 'NanumSquare';
    font-size: 15px;
}

footer {
    /* position: absolute !important; */
    bottom: 0 !important;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    /* margin-top: 5000px; */
}

footer>* {
    padding-top: 9px;

}

footer .title_detail {
    font-weight: 900;
    color: #4e4e4e;
}

#footer1 {
    height: 40px;
    border-top: 1.5px solid #d4d4d4;
    border-bottom: 1.5px solid #d4d4d4;
    background-color: rgb(236, 236, 236);
}

#footer1 p {
    display: inline-block;
    margin-right: 20px;
}

#footer2 {
    height: 150px;
    padding-top: 22px;

}

#footer2 .footer2_logo {
    margin-bottom: 10px;
}

.footer_text1,
.footer_text2 *,
.footer_text3 *,
.footer_text4 * {
    font-size: 13px;
    color: rgb(49, 49, 49);
}

#footer3 {
    background-color: rgb(236, 236, 236);
    height: 40px;
}

#footer3 * {
    font-size: 12px;
}

footer ul {
    padding: 0;
}

.footer-width {
    width: 1120px;
    max-width: none !important;
}

/* #footer2 {
            background-image: url(../../../static/images/km/footer.png);
        } */

footer a {
    text-decoration: none;
}

.col ul {
    list-style: none;
}