<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ODOP Email Verification</title>
</head>
<style>
    @import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

    body {
        font-family: 'NanumSquare';
    }
</style>
<body>
    <div style="margin: 20px; text-align: center;">
        <h1>안녕하세요, 하루 한 개의 포스트 📚</h1>
        <h2>OneDayOnePost, ODOP 입니다</h2>
        <br>
        <p>아래 코드를 복사해 입력해주세요</p>
        <br>
        <p>감사합니다</p>
        <br>
        <div style="border: 2px solid #9aa2c0; font-family: NanumSquare; background: #ffffff;">
            <h3 style="color: #1D3563;">이메일 인증 코드📧</h3>
            <br>
            <div style="font-size: 130%;">
                <strong style="background: #1D3563; color: #FFF;"> 📝 [[${authNum}]] 📝</strong>
            </div>
            <br>
        </div>
    </div>
</body>
</html>